.footer {
    margin-top: 78px;
    background-color: lightgreen;
    color: darkgreen;
}


.footer img {
    width: 121px;
}

/* .location p {
    text-align: right;
} */

.footerhr p {
    text-align: center;
}

.row {
    font-size: 16.6px;
    padding-right: 100px;
    margin-right: 400px;
}

.links{
    text-align: center;
    margin-right: 10px;
}

.front{
    padding-right: 100px;
    margin-right: 400px;
}


.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    /* background: rgba(217, 217, 217, 0.1); */
    background:green;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 8.5px;
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    /* background-color: #ffffff; */
    background-color:lightseagreen;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}